<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>article 페이지</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" >
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<style>
	textarea {
		resize:none;
	}
</style>

<script>
	$(document).ready(function() {
		/* 가격협상여부 체크확인 */
		var priceNego = $("#book-negotiation").val();
		if(priceNego == 'Y') {
			$("input:checkbox[id='book-negotiation']").prop("checked", true);
		}
		
		var sold = $("#sold-yn").val();
		if(sold == 'Y') {
			$("input[id='sold-yn']").empty();;
			$("input[id='sold-yn']").attr("value", "거래완료");

		} else if(sold == 'N') {
			$("input[id='sold-yn']").empty();;
			$("input[id='sold-yn']").attr("value", "거래중");
		}

		$("#btn-follow").on("click", function() {
			var idx = $("#book-idx").val();
			var uidx = $("#user-idx").val();

			$.ajax({
				url: "/article/recommend",
				type: "post",
				data: {
					bookIdx: idx, userIdx: uidx
				},
				success: function (data) {
					if(data == "S") {
						alert("추천 완료");
						location.reload();
					} else {
						alert("좋아요는 한번만 하실 수 있습니다.");
					}
				}, error: function () {
					alert("통신실패");
				}
			})
		});

		$("#btn-edit").on("click", function() {
			location.href = "/article/edit?bookIdx=" + $("#book-idx").val();
		});

		// 판매완료 (세션보유자와 글 작성자가 같은지 확인) -버튼 유무
		$("#btn-sold").on("click", function() {
			$.ajax({
				url: "/article/soldYn",
				type: "put",
				data: {
					bookIdx: $("#book-idx").val()
				},
				success: function(data) {
					alert("판매완료");
					//location.href = "/article/openArticle?bookIdx=" + $("#book-idx").val();
					location.reload();
				}, error: function() {
					alert($("#book-idx").val());
				}
			});
		});

		// 글삭제(세션보유자와 글 작성자가 같은지 확인) -버튼 유무
		$("#btn-delete").on("click", function() {
			$.ajax({
				url: "/article/delete?bookIdx" + $("#book-idx").val(),
				type: "delete",
				data: {
					bookIdx: $("#book-idx").val()
				},
				success: function(data) {
					alert("삭제완료");
					location.href = "/main";
				}, error: function() {
					alert("통신실패");
				}
			});
		});

		// 뒤로가기
		$("#btn-back").on("click", function() {
			//location.href = "/main";
			window.history.back();
		});

		// 댓글 삭제
		var commentIdx = 0;
		$(".btn-delete").on("click", function () {
			commentIdx = $(this).children("span").text();
			$.ajax({
				url: "/article/comment/delete",
				type: "delete",
				data: {
					commentIdx: commentIdx, userIdx: $("#comment-insert-user-idx").val()
				},
				success: function(data) {
					alert("댓글삭제");
					location.reload();
				}, error: function () {
					alert("통신실패");
				}
			});
		});




		/*$("#comment-content").keypress(function(event){
			if(event.which == 13) {
				$("#commentary").click();
				return false;
			}
		});

		$("#commentary").on("click", function() {
			$("#comment-list").load(window.location.href + "#comment-list");
		});*/


		//$('.commentUserIdx').attr('style', "display:none;");
		//$('.commentIdx').attr('style', "display:none");

	});
</script>


	<style>
		body {
			margin: 0;
			padding: 0;
			background-color: #F7E2E2;

		}
		header {
			background-color: #1A132F;
		}
		main {
			color: #5B7DB1;
			height: 100%;
		}

		footer {

			background-color: #1A132F;
		}
	</style>

</head>

<body>

	<header th:replace="layout/header :: header">
	</header>

	<main class="container mt-5">
		<!-- <div class="col-sm-3"></div> -->
		<article></article>

		<div class="row">
			<div class="col-lg-7 col-sm-10 mx-auto">
				<!-- 캐러셀 방식으로 이미지 출력 -->
				<div id="articleImg" class="carousel slide" data-bs-ride="carousel">
					<div th:if="${#lists.size(article.imgList)} > 0">
						<div class="carousel-indicators" >
							<button type="button" data-bs-target="#articleImg"
									th:each="list : ${article.imgList}" th:if="${listStat.index} == 0"
									th:data-bs-slide-to="${listStat.index}" class="active" aria-current="true"
									aria-label="Slide 1"></button>
							<button type="button" data-bs-target="#articleImg"
									th:each="list : ${article.imgList}" th:if="${listStat.index} != 0"
									th:data-bs-slide-to="${listStat.index}"
									aria-label="Slide" th:attrappend="aria-label=${listStat.count}"></button>
						</div>
					</div>
					<div class="carousel-inner" th:if="${#lists.size(article.imgList)} > 0">
						<div class="carousel-item active" th:each="list : ${article.imgList}" th:if="${listStat.index} == 0">
							<img th:src="${list.storedFilePath}" class="d-block w-30 rounded mx-auto" alt="...">
						</div>
						<div class="carousel-item" th:each="list : ${article.imgList}" th:if="${listStat.index} != 0">
							<img th:src="${list.storedFilePath}" class="d-block w-30 rounded mx-auto" alt="...">
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#articleImg" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
						<button class="carousel-control-next" type="button" data-bs-target="#articleImg" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>

				<!-- 제목 -->
				<div class="form-floating my-3 mt-5">
					<input type="text" class="form-control" id="book-title" name="bookTitle" placeholder="제목" readonly th:value="${article.bookTitle}">
					<label for="book-title" class="form-label">제목</label>
				</div>

				<!-- 거래상태 -->
				<div class="form-floating my-3">
					<input type="text" class="form-control" id="sold-yn" name="soldYn" placeholder="거래상태" readonly th:value="${article.soldYn}">
					<label for="sold-yn" class="form-label">거래상태</label>
				</div>

				<!-- 가격 -->
				<div class="row">
					<div class="col-lg-8 col-sm-6">
						<div class="form-floating my-1">
							<input type="text" class="form-control" id="book-price" name="bookPrice" placeholder="가격을 입력하세요" readonly th:value="${article.bookPrice}">
							<label for="book-price" class="form-label">₩ 가격</label>
						</div>
					</div>
					<!--<div class="col-lg-1 col-sm-1"></div>-->
					<div class="col-lg-4 col-sm-6">
						<div class="form-check my-3 pt-1 ps-5">
							<input class="form-check-input" type="checkbox" value="" id="book-negotiation" name="bookNegotiation" disabled th:value="${article.bookNegotiation}">
							<label class="form-check-label" for="book-negotiation">가격제안 받기</label>
						</div>
					</div>
				</div>

				<!-- 주소 -->
				<div class="form-floating my-3">
					<input type="text" class="form-control" id="user-local" name="userLocal" placeholder="주소" readonly th:value="${article.userLocal}">
					<label for="user-local" class="form-label">주소</label>
				</div>

				<!-- 회원 닉네임, 올린날짜(끌어올림), 조회수 -->
				<div class="row">
					<div class="col-sm-4">
						<div class="form-floating">
							<input type="text" class="form-control" id="user-name" name="userName" placeholder="닉네임" readonly th:value="${article.userName}">
							<label for="user-name" class="form-label">닉네임</label>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-floating">
							<input type="text" class="form-control" id="create-date" name="createDate" placeholder="작성날짜" readonly th:value="${article.createDate}">
							<label for="create-date" class="form-label">작성날짜</label>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-floating">
							<input type="text" class="form-control" id="hit-cnt" name="hitCnt" placeholder="조회수" readonly th:value="${article.hitCnt}">
							<label for="create-date" class="form-label">조회수</label>
						</div>
					</div>
				</div>

				<!-- 분류 -->
				<div class="row my-3">
					<div class="col-lg-6 col-sm-6">
						<div class="form-floating">
							<input type="text" class="form-control" id="main-category" name="mainCategory" placeholder="도서 대분류" readonly th:value="${article.mainCategory}">
							<label for="create-date" class="form-label">도서 대분류</label>
						</div>
					</div>
					<div class="col-lg-6 col-sm-6">
						<div class="form-floating">
							<input type="text" class="form-control" id="detail-category" name="detailCategory" placeholder="도서 세부분류" readonly th:value="${article.detailCategory}">
							<label for="create-date" class="form-label">도서 세부분류</label>
						</div>

					</div>
				</div>

				<!-- 글 내용 -->
				<div class="form-floating my-2">
					<textarea rows="10" class="form-control h-25" id="book-contents" name="bookContents" readonly th:text="${article.bookContents}"></textarea>
					<label for="book-contents" class="form-label">내용</label>
				</div>

				<!-- 뒤로 가기, 찜 -->
				<div class="my-3 clearFix">
					<button type="button" class="btn btn-secondary float-start" id="btn-back">뒤로가기</button>
					<button type="button" th:if="${session.userIdx} == ${article.userIdx}" class="btn btn-warning float-start ms-2" id="btn-sold">판매완료</button>


					<button type="button" th:if="${session.userIdx} != null" class="btn btn-primary float-end" id="btn-follow">좋아요
						<span th:if="${article.bookRecommend} >= 0" th:text="${article.bookRecommend}"></span>
					</button>
					<button type="button" th:if="${session.userIdx} == ${article.userIdx}" class="btn btn-success float-end me-2" id="btn-edit">수정</button>
					<button type="button" th:if="${session.userIdx} == ${article.userIdx}" class="btn btn-danger float-end me-2" id="btn-delete">삭제</button>
				</div>
				
				<!-- 게시글 idx 정보, 유저정보(삭제) -->
				<div>
					<!-- 게시글 작성자의 userIdx -->
					<input type="hidden" id="user-idx" name="userIdx" th:value="${session.userIdx}"  />
					<input type="hidden" id="book-idx" name="bookIdx" value="1" th:value="${article.bookIdx}">
					<input type="hidden" id="method" name="_method">
				</div>
				
			</div>
		</div>
		</article>
		<!-- 댓글 -->
		<comment id="comment-list">
			<div class="row my-3">
				<div class="col-lg-7 col-sm-12 mx-auto">
					<form id="comment" method="POST">
						<table class="table table-hover table-striped" style="background-color: aliceblue">
							<colgroup>
								<col width="20%" />
								<col width="55%" />
								<col width="20%" />
								<col width="5%" />
							</colgroup>
							<thead>
								<tr th:if="${#lists.size(commentList)} > 0">
									<th class="ps-3"><span>전체댓글</span><span class="ps-1" th:text="${#lists.size(commentList)}" style="font-size: small" /><span style="font-size: small">개</span></th>
								</tr>
							</thead>
							<tbody id="comment-list">
								<tr th:if="${#lists.size(commentList)} > 0" th:each="list : ${commentList}">
									<td th:text="${list.userName}"></td>
									<td th:text="${list.commentContent}"></td>
									<td th:text="${list.createDate}" style="font-size: smaller"></td>
									<td><button type="button" th:if="${session.userIdx} == ${list.userIdx}" class="btn-close btn-delete" id="comment-delete"><span class="d-none" id="comment-idx" th:text="${list.commentIdx}"></span></button></td>
									<!-- td 숨김법 -->
									<td ><span class="d-none" id="user-idx-comment" th:text="${list.userIdx}"></span></td>
								</tr>
								<tr th:unless="${#lists.size(commentList)} > 0">
									<td colspan="4">댓글이 없습니다</td>
								</tr>
							</tbody>
						</table>
					</form>

					<!-- 댓글 입력칸 -->
					<form action="/article/comment" th:action="@{/article/comment}" method="post">
						<div class="row">
							<div class="col-lg-10 col-sm-12">
								<div class="form-floating mb-2">
									<input type="text" class="form-control" id="comment-content" name="commentContent"
										placeholder="내용을 입력해주세요">
									<label for="comment-content">Comment</label>
								</div>
							</div>
							<div class="col-lg-2 d-grid mb-2">
								<button type="submit" id="commentary" class="btn btn-secondary">등록</button>
							</div>
							<div>
								<!-- 로그인 세션 사용자 -->
								<input type="hidden" id="comment-insert-user-idx" name="userIdx" th:value="${session.userIdx}"  />
								<input type="hidden" id="comment-insert-book-idx" name="bookIdx" th:value="${article.bookIdx}">
								<input type="hidden" id="method2" name="_method">
							</div>
						</div>

					</form>

				</div>
			</div>
		</comment>
		
		<!-- <div class="col-sm-3"></div> -->
	</main>

	<footer th:replace="layout/footer :: footer">
	</footer>

</body>
</html>