<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header class="p-3 text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <!-- 로고 이미지 -->
                <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi" width="40" height="32" role="img">
                        <img src="/img/icon-book.png">
                    </svg>
                </a>

                <!-- 중앙 링크 -->
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ps-5">
                    <li><a href="#" class="nav-link px-2 text-white">Home</a></li>
                    <li><a href="/article/write" class="nav-link px-2 text-white">글쓰기</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">채팅</a></li>
                </ul>

                <!-- 검색칸 -->
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="" method="get">
                    <input type="search" id="search" class="form-control form-control-dark" placeholder="책제목, 동네이름...">
                </form>

                <!-- 오른쪽 버튼, 세션 보유시 마이페이지, 로그아웃으로 변경 -->
                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                    <button type="button" class="btn btn-warning">Sign-up</button>
                </div>
            </div>
        </div>
    </header>

</body>
</html>