<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>my page</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<script>
	$(document).ready(function() {
		$("btn-profile").on("click", function() {
			location.href="/user/profile"
		});
	});
	
	$(document).ready(function() {
		$("btn-myBoardList").on("click", function() {
			location.href="/user/myBookList"
		});
	});
	
	$(document).ready(function() {
		$("btn-recommend").on("click", function() {
			location.href="/user/recommendBook"
		});
	});
</script>

</head>
<body>
	
	<header th:replace="layout/header :: header"></header>

	<main>
		<div class="container my-5">
			<div class="row">
				<div class="col-5 mx-auto">
					<div class="d-grid">
						<!-- 회원정보 이동 -->
						<button type="button" id="btn-profile" class="btn btn-warning">회원 정보 수정</button>
						
						<!-- 작성한 글 목록 이동 -->
						<button type="button" id="btn-myBoardList" class="btn btn-warning">회원 정보 수정</button>
						
						<!-- 관심 태그 이동 -->
						<button type="button" id="btn-myRecommend" class="btn btn-warning">관심 있는 판매글</button>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer th:replace="layout/footer :: footer"></footer>

</body>
</html>